.background-container {
  position: relative;
}

.page {
  opacity: 0;
  transform: translateX(100%); /* Start farther off-screen */
  transition: opacity 1s ease, transform 1s ease; /* Increased duration */
}

.page.is-active {
  opacity: 1;
  transform: translateX(0);
}
